extends layout
block content
  form(action='/editTaskQuery/#{task._id}' method='POST')
    div  
      | titulo: 
      input(type='text' name='title' value='#{task.title}' placeholder="title" id="title")
    div
      | Description:
      textarea(type='text' 
        name='description'
        rows="20"
        placeholder="Descripcion")
        | #{task.description}    
    button update