extends layout
block content
  //- SECCION DEL FORMULARIO
  br
  section
    form(action='/tasks/addTask' method='POST')
    div.container
      div.form
        div.title  
          | titulo: 
          br
          input(type='text' name='title' value='' placeholder="title" id="title")
        div.description
          | Description:
          br
          textarea(type='text' 
            name='description'
            value=''
            placeholder="title" 
            id="description")
      div.submit
        input(type='submit' value='Submit')
  //- SECCION DE LA LISTA DE TAREAS
  br
  article 
    section
      table
        thead
          tr
            th Numero
            th Nombre
            th Descripcion
            th Estado
            th Operacion
            th fecha entrega
        tbody
          for task, index in tasks
            tr
              td #{index}
              td #{task.title}
              td #{task.description}
              td     
                input#cbox2(type='checkbox' value='s')
              td
                button.operation 
                  a(href="/editTask/#{task._id}")  Editar
                br
                button.operation
                  a(href="/editTask")  Eliminar
              td
                label(for='start') 
                input#start(type='date' name='trip-start' value='date')

          else 
            p No tiene tareas pendientes 🥳🥳🥳🥳
