extends layout
block content
    nav
      .container-fluid
        div.nav
          div
            a= titlePrincipal 
            button(type="button")
              span salir
          div(id="navbarNavAltMarkup")
            div
              a(aria-current="page" href="#") Home
              a(href="#") Features
              a(href="#") Pricing
    //- SECCION DEL FORMULARIO
    br
    section
      form(action='/tasks/addTask' method='POST')
        div  
          | titulo: 
          input(type='text' name='title' value='' placeholder="title" id="title")
        div
          | Description:
          textarea(type='text' 
            name='description'
            value=''
            cols="20"
            rows="6" 
            placeholder="title" 
            id="description")
          | 
        input(type='submit' value='Submit')
    //- SECCION DE LA LISTA DE TAREAS
    br
    article 
      section
        table
          thead
            tr
              th Numero
              th Nombre
              th Descripcion
              th Estado
              th Operacion
              th fecha entrega
          tbody
            for task, index in tasks
              tr
                td #{index}
                td #{task.title}
                td #{task.description}
                td     
                  input#cbox2(type='checkbox' value='s')
                  label(for='cbox2')
                td
                  button 
                    a(href="/editTask/#{task._id}")  Editar
                  button
                    a(href="/editTask")  Eliminar
                td
                  label(for='start') 
                  input#start(type='date' name='trip-start' value='date')

            else 
              p No tiene tareas pendientes 🥳🥳🥳🥳
